body {
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

.heading-primary {
  position: relative;
  z-index: 10;
  color: #373737;
  margin-bottom: 4rem; }
  .heading-primary--main {
    text-transform: uppercase;
    display: block;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  height: 100%;
  background-image: linear-gradient(100deg, #A2F7A1 9.64%, rgba(198, 245, 181, 0.7) 55.85%, rgba(224, 244, 195, 0.53) 81.27%, rgba(243, 244, 205, 0.41) 100%);
  padding: 2rem 8rem; }

.home {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto; }
  .home__inside-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("/BMICalculator/calcit/src/main/resources/static/img/inside-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
    box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.5); }
  .home__logo-box {
    position: absolute;
    top: 5rem;
    left: 4rem; }
  .home__line {
    position: absolute;
    width: 100%;
    top: 10rem;
    right: 0;
    bottom: 0;
    left: 0; }
  .home__food {
    position: absolute;
    height: 70%;
    left: 0;
    bottom: 0; }
  .home__fork {
    position: absolute;
    height: 30%;
    right: 0;
    bottom: 0; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #373737;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 8rem;
  right: 12rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(55, 55, 55, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 8.5rem;
  right: 12.5rem;
  background-color: #373737;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #54EA54;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #FFF;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.8rem;
  transition: all .2s;
  position: relative;
  z-index: 10;
  font-size: 2.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 3rem;
  margin-right: 3rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--gray {
  background-color: #373737;
  color: #FFF; }
  .btn--gray::after {
    background-color: #373737; }

.btn--green {
  background-color: #54EA54;
  color: #FFF; }
  .btn--green::after {
    background-color: #54EA54; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
