<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@200;500&family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <title>BMI Calculator</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
</head>
<body>

<div class="main-container bmicalculator">
    <div class="main-container__inside-background">

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>

            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>Home</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Sign Up</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>Log In</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>BMI Calculator</a></li>
                    <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>PPM Calculator</a></li>
                </ul>
            </nav>
        </div>

        <div class="main-container__logo-box">
            <img th:src="@{/images/logo.svg}" alt="Logo" class="main-container__logo">
        </div>

        <div class="header">
            <a href="" class="header__element">Home</a>
            <a href="" class="header__element header__element--active">BMI</a>
        </div>
<div class="calculator__wrapper">
        <div class="calculator__background">
            <div class="">
                <div class="bmicalc-form">
                    <form action="#" class="bmicalc-form__container" onsubmit="return validateBMI()">
                        <p class="bmicalc-form__title">Calculate your BMI</p>
                        <!-- to zmien, napraw popraw account-form__input -->
                        <div class="bmicalc-form__element" >
                            <span class="account-form__span">Weight:</span>
                            <input type="number" class="bmicalc-form__input" id="weight"/>
                            <span class="account-form__span">kg</span>
                        </div>

                        <div class="bmicalc-form__element" >
                            <span class="account-form__span">Height:</span>
                            <input type="number" class="bmicalc-form__input" id="height"/>
                            <span class="account-form__span">cm</span>
                        </div>

                        <button type="submit" class="btn btn--green btn--form">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="calculator__background">

            <div class="line-calc__container">
                <picture style="height: 100%" >
                    <source media="(min-width:600px)" th:srcset="@{/images/line-calc.svg}">
                    <img th:src="@{/images/line-mobile.svg}" alt="" class="bmi__line">
                </picture>
                <span class="account-form__span" id="result-text__span">Results</span>
            </div>

            <div class="bmi__result">
                <span class="account-form__span">Your BMI: </span>
                <div class="circle__wrapper">
                    <div class="circle">
                        <div class="circle">
                            <div class="circle">
                                <span class="account-form__span2" id="bmi_result"> ... </span>
                                <span class="account-form__span2" id="result_string">Correct weight</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

        <img th:src="@{/images/plus-dice.png}" alt="" class="main-container__plus-dice">
        <img th:src="@{/images/divide-dice.png}" alt="" class="main-container__divide-dice">
        <img th:src="@{/images/equal-dice.png}" alt="" class="main-container__equal-dice">
    </div>
</div>

    <script>
        function validateBMI () {
            let bmi_result = document.getElementById("bmi_result").value;
            let result_string = document.getElementById("result_string").value;


        }
    </script>

</body>
</html>