/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
body {
  text-align: center;
  font-family: 'Kodchasan', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal; }

.heading-primary {
  position: relative;
  z-index: 10;
  color: #373737;
  margin-bottom: 4rem; }
  .heading-primary--main {
    text-transform: uppercase;
    display: block;
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        margin-bottom: 2rem;
        font-size: 3.5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 400; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        font-size: 2.5rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  height: 100%;
  background-image: linear-gradient(100deg, #A2F7A1 9.64%, rgba(198, 245, 181, 0.7) 55.85%, rgba(224, 244, 195, 0.53) 81.27%, rgba(243, 244, 205, 0.41) 100%);
  padding: 2rem 8rem; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 1rem 2rem; } }

.btn, .btn:link, .btn:visited {
  width: 18rem;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.8rem;
  transition: all .2s;
  position: relative;
  z-index: 10;
  font-size: 2.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .btn, .btn:link, .btn:visited {
      width: 14.8rem;
      font-size: 1.8rem;
      margin-left: 1rem;
      margin-right: 1rem; } }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--gray {
  background-color: #373737;
  color: #FFF; }
  .btn--gray::after {
    background-color: #373737; }

.btn--green {
  background-color: #54EA54;
  color: #373737; }
  .btn--green::after {
    background-color: #54EA54; }

.btn--form {
  padding: 1rem 1.5rem;
  background-color: #54EA54;
  color: #373737; }
  .btn--form::after {
    background-color: #54EA54; }
  @media only screen and (max-width: 37.5em) {
    .btn--form {
      width: 50%; } }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.home__text-box > .btn--less-padding {
  padding: 1.5rem 2rem; }

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto; }
  .main-container__inside-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../../images/inside-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0.8rem;
    box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 37.5em) {
      .main-container__inside-background {
        background-image: url("../../images/inside-background-mobile.png"); } }
  .main-container__logo-box {
    position: absolute;
    z-index: 10;
    top: 5rem;
    left: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .main-container__logo-box {
        top: 3rem; } }
  .main-container__text-box {
    padding: 1rem; }
  .main-container__line {
    position: absolute;
    width: 100%;
    top: 10rem;
    right: 0;
    bottom: 0;
    left: 0; }
  .main-container__food {
    position: absolute;
    height: 70%;
    left: 0;
    bottom: 0; }
    @media only screen and (max-width: 75em) {
      .main-container__food {
        height: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .main-container__food {
        height: 35%; } }
  .main-container__fork {
    position: absolute;
    height: 30%;
    right: 0;
    bottom: 0; }
    @media only screen and (max-width: 75em) {
      .main-container__fork {
        height: 20%; } }
    @media only screen and (max-width: 37.5em) {
      .main-container__fork {
        height: 12%; } }
  .main-container__sign {
    position: absolute; }
    @media only screen and (max-width: 56.25em) {
      .main-container__sign {
        width: 40%; } }
  .main-container__multiplication {
    right: 55rem;
    bottom: -2rem; }
    @media only screen and (max-width: 56.25em) {
      .main-container__multiplication {
        right: 0;
        bottom: -15rem; } }
    @media only screen and (max-width: 75em) {
      .main-container__multiplication {
        right: 20rem; } }
  .main-container__plus {
    rotate: -48deg;
    right: 18rem;
    top: -5rem; }
    @media only screen and (max-width: 56.25em) {
      .main-container__plus {
        right: -4rem;
        top: 10rem; } }
  .main-container__equal {
    rotate: -48deg;
    bottom: -4rem;
    left: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .main-container__equal {
        bottom: -18rem;
        left: 23rem; } }

.account-form {
  position: relative;
  z-index: 10; }
  .account-form__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .account-form__title {
    padding: 1.5rem;
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 400; }
    @media only screen and (min-width: 112.5em) {
      .account-form__title {
        padding-bottom: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .account-form__title {
        font-size: 2rem; } }
  .account-form__element:not(:last-child) {
    margin-bottom: 2rem; }
    @media only screen and (min-width: 112.5em) {
      .account-form__element:not(:last-child) {
        margin-bottom: 5rem; } }
  .account-form__input {
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1.8rem 7rem;
    border-radius: 0.8rem;
    color: #C1C4CE;
    background-color: #FFF;
    border: none;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
    @media only screen and (min-width: 112.5em) {
      .account-form__input {
        padding: 2.2rem 12rem; } }
    @media only screen and (max-width: 37.5em) {
      .account-form__input {
        padding: 1.5rem 2rem; } }
  .account-form__input:hover, .account-form__input:focus {
    border: 0.4rem solid #54EA54; }
  .account-form input:focus {
    outline: none; }
  .account-form input::placeholder {
    color: #C1C4CE; }
  .account-form__text {
    font-size: 1.2rem;
    color: #FFF; }
  .account-form__text > a:hover {
    transform: translateY(-3px); }
  .account-form__text--green {
    text-transform: uppercase;
    color: #54EA54; }

.create-account-form .main-container__inside-background {
  padding: 8rem 25rem 8rem 25rem; }
  @media only screen and (max-width: 75em) {
    .create-account-form .main-container__inside-background {
      padding: 10rem 5rem 10rem 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .create-account-form .main-container__inside-background {
      padding: 20rem 50rem 20rem 50rem; } }

.create-account-form__background {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-image: linear-gradient(111deg, #2F2E2E 8.44%, #373737 24.58%, #3E3D3D 56.87%, #2F2E2E 100%);
  box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.5); }

.create-account-form__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.create-account-form__title {
  color: #54EA54;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem; }
  @media only screen and (min-width: 112.5em) {
    .create-account-form__title {
      margin-top: 1rem;
      margin-bottom: 3rem; } }

.create-account-form__element {
  z-index: 10;
  width: 40rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem; }
  @media only screen and (min-width: 112.5em) {
    .create-account-form__element {
      margin-bottom: 3rem; } }
  .create-account-form__element label {
    font-size: 2.5rem;
    margin-right: 2rem;
    color: #FFF; }
    @media only screen and (max-width: 75em) {
      .create-account-form__element label {
        font-size: 2rem; } }
  @media only screen and (max-width: 75em) {
    .create-account-form__element {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.create-account-form__input, .create-account-form__select {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem 4rem;
  border-radius: 0.8rem;
  color: #373737;
  background-color: #FFF;
  border: none;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
  @media only screen and (min-width: 112.5em) {
    .create-account-form__input, .create-account-form__select {
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 75em) {
    .create-account-form__input, .create-account-form__select {
      width: 16rem;
      padding: 0.5rem 2rem; } }

.create-account-form__select {
  width: 23.6rem; }
  @media only screen and (max-width: 75em) {
    .create-account-form__select {
      width: 16rem;
      padding: 0.5rem 2rem; } }

.create-account-form__input:hover, .create-account-form__input:focus, .create-account-form__select:hover, .create-account-form__select:focus {
  border: 0.4rem solid #54EA54; }

.create-account-form input:focus, .create-account-form select:focus {
  outline: none; }

.create-account-form input::placeholder {
  color: #C1C4CE; }

.home__text-box {
  padding: 1rem; }

.home__line {
  position: absolute;
  width: 100%;
  top: 10rem;
  right: 0;
  bottom: 0;
  left: 0; }

.registration .main-container__inside-background {
  padding: 8rem 25rem 8rem 25rem; }
  @media only screen and (max-width: 75em) {
    .registration .main-container__inside-background {
      padding: 10rem 5rem 10rem 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .registration .main-container__inside-background {
      padding: 20rem 50rem 20rem 50rem; } }

.registration__background {
  display: grid;
  grid-template-columns: 60% 40%;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  background-image: linear-gradient(111deg, #2F2E2E 8.44%, #373737 24.58%, #3E3D3D 56.87%, #2F2E2E 100%);
  box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 56.25em) {
    .registration__background {
      grid-template-columns: 100%; } }

.registration__right-container {
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .registration__right-container {
      display: none; } }

.registration__left-container {
  display: flex;
  align-items: center;
  justify-self: center; }

.registration__line {
  position: absolute;
  width: 100%;
  top: 6rem;
  right: 0; }
  @media only screen and (min-width: 112.5em) {
    .registration__line {
      top: 12rem; } }

.registration__hand {
  position: absolute;
  width: 95%;
  right: 0;
  bottom: 0; }

.calculator {
  border-radius: 0.8rem;
  overflow-y: hidden; }
  @media only screen and (max-width: 75em) {
    .calculator {
      font-size: 2rem; } }
  .calculator .main-container__inside-background {
    padding: 10rem 5rem 10rem 5rem; }
    @media only screen and (max-width: 56.25em) {
      .calculator .main-container__inside-background {
        padding: 20rem 3rem 5rem 3rem;
        overflow-y: auto;
        overflow-x: hidden; } }
    @media only screen and (min-width: 112.5em) {
      .calculator .main-container__inside-background {
        padding: 13rem 30rem 13rem 30rem; } }
  .calculator__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 48% 48%;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .calculator__container {
        row-gap: 5rem;
        grid-template-columns: 100%;
        grid-template-rows: 48% 48%; } }
  .calculator__calculate-container, .calculator__result-container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4rem 1rem;
    z-index: 10;
    border-radius: 0.8rem;
    background-image: linear-gradient(111deg, #2F2E2E 8.44%, #373737 24.58%, #3E3D3D 56.87%, #2F2E2E 100%);
    box-shadow: -10px 10px 40px 0px rgba(0, 0, 0, 0.5); }
  .calculator__title {
    color: #FFF;
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 12; }
    @media only screen and (min-width: 112.5em) {
      .calculator__title {
        top: 10rem; } }
  .calculator__line {
    width: 100%;
    position: absolute;
    top: 5rem;
    left: 0; }
    @media only screen and (min-width: 112.5em) {
      .calculator__line {
        top: 6rem; } }
  .calculator__circle-container {
    margin-top: 6rem;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .calculator__circle-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 20rem;
    height: 20rem;
    background-image: url("../../images/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .calculator__name {
    color: #FFF;
    margin-right: 5rem; }
    @media only screen and (max-width: 75em) {
      .calculator__name {
        margin-right: 3rem; } }
  .calculator__result {
    color: #373737; }
  .calculator__element {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .calculator__element {
        width: 20rem; } }
    @media only screen and (min-width: 112.5em) {
      .calculator__element {
        width: 40rem; } }
  .calculator__input, .calculator__select {
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1rem;
    border-radius: 0.8rem;
    color: #373737;
    background-color: #FFF;
    border: none;
    text-align: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
    @media only screen and (max-width: 56.25em) {
      .calculator__input, .calculator__select {
        padding: 0.5rem 0;
        width: 12rem; } }
    @media only screen and (min-width: 112.5em) {
      .calculator__input, .calculator__select {
        padding: 2rem 4rem; } }
  .calculator__select {
    width: 17.5rem; }
    @media only screen and (max-width: 56.25em) {
      .calculator__select {
        width: 12rem; } }
    @media only screen and (min-width: 112.5em) {
      .calculator__select {
        width: 23.6rem; } }
  .calculator__input:hover, .calculator__input:focus, .calculator__select:hover, .calculator__select:focus {
    border: 0.4rem solid #54EA54; }
  .calculator input:focus, .calculator select:focus {
    outline: none; }
  .calculator input::placeholder {
    color: #C1C4CE; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #373737;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 8rem;
  right: 12rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(55, 55, 55, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 5rem;
      right: 5rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 8.5rem;
  right: 12.5rem;
  background-color: #373737;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 5.5rem;
      right: 5.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  border-radius: 0.8rem;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFF 50%);
  background-size: 220%;
  transition: all .4s; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.8rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #54EA54;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(90); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #FFF;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  display: flex;
  justify-content: space-around;
  color: #373737;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  padding: 0 15rem;
  z-index: 12; }
  @media only screen and (max-width: 56.25em) {
    .header {
      justify-content: space-between;
      margin-top: 5rem;
      margin-bottom: 1rem;
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 0 5rem; } }
  .header__element {
    all: unset;
    position: relative;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .header__element:hover {
    transform: translateY(-3px); }
  .header__element--active::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 0.5rem;
    bottom: 0;
    border-bottom: 0.5rem solid #54EA54; }
